
body,div,ul,li,h1,h2,h3,h4,p{
    margin:0;
    padding:0;
    font:16px "微软雅黑";
}
#wrapper{
    max-width:640px;
    margin:0 auto;
}
#header{
    width:100%;
    background-color:#29bde0;
    overflow:hidden;
    text-align:center;
}
#header h2{
    text-align:center;
    color:#fff;
    font-size:2em;
}
#menu-img{
    float:left;
    margin-left:5%;
}
#closed-img{
    float:right;
    margin-left:5%;
}
/*header-end*/
#content{
    width:100%;
    background-color:#29bde0;

}
#tittle{
    padding:32px 44px;
    font-size:1.625em;
    color:#000;
    text-align:center;
    background-color:#b9e9f4;
}
#column{
    width:100%;
    background-color:#29bde0;
    padding:0 42px;
}
.box1{
    float:left;
    width:136px;
    height:136px;
    margin-top:42px;
    margin-right:70px;
}
.box-top{
    width:136px;
    height:98px;
    background-color:#f5c97b;
}
.box-center{
    width:136px;
    height:28px;
    background-color:#83b09a;
}
.box-bottom{
    width:100%;
    padding:20px 0;
}
.di1,.di2,.di3,.di4{
    padding:0 2px;
    float:left;
}
/** sprite: mysprite; sprite-image: url('../images/mysprite.png'); sprite-layout: vertical */
.di1{
    width: 1.5rem;
    height: 1.5rem;
    background-repeat:no-repeat;
    background-image:url(../images/di1.png);/** sprite-ref: mysprite; */
}
.di2{
    width: 1.5rem;
    height: 1.5rem;
    background-repeat:no-repeat;
    background-image:url(../images/di2.png);/** sprite-ref: mysprite; */
}
.di3{
    width: 1.5rem;
    height: 1.5rem;
    background-repeat:no-repeat;
    background-image:url(../images/di3.png);/** sprite-ref: mysprite; */
}
.di4{
    width: 1.5rem;
    height: 1.5rem;
    background-repeat:no-repeat;
    background-image:url(../images/di4.png);/** sprite-ref: mysprite; */
}
